@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Pending Sellers";
}


<div class="container">
    <div class="row" >
        <div class="col-sm border border-primary">
            One of three columns
        </div>
        <div class="col-sm border border-primary">
            One of three columns
        </div>
        <div class="col-sm border border-primary">
            One of three columns
        </div>
    </div>
</div>