@using AutoPartsShopAndForum.Models.View.Input.Cart

@model CartCheckoutModel

<form method="post">
    <div class="row">
        <div class="offset-md-2 col-md-8 col-sm-12">
            <div class="form-group">
                <label asp-for="Street"></label>
                <input asp-for="Street" id="Street" class="form-control" placeholder="street name and number">
                <span asp-validation-for="Street" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Towns"></label>
                <select asp-for="SelectedTownId" class="form-control">
                    @foreach (var town in Model.Towns)
                    {
                        <option value="@town.Id">@town.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <div>@Model.TotalAmount leva</div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}