@model ProductModel

<h1>
    @Model.Name
</h1>

<div class="container">
    <div class="row">
        <div class="col-sm">
            Description:
        </div>
        <div class="col-sm">
            @Model.Desctiption
        </div>
    </div>
</div>