@{
    ViewData["Title"] = "Candidate Page";
}

<form action="" method="post">
    <label>Motivation</label>
    <input name="motivation" type="text"/>

    <input type="submit" class="btn btn-danger" value="Candidate" />
</form>