@{
    ViewData["Title"] = "Home Page";
}

@model CategoryModel[]

<div class="catsummary">
    @foreach (var category in Model)
    {
        <div class="categoryinfo">
            <div class="catibox">
                <img src="@(category.ImageUrl)" class="cat_img_icon" alt="Alternate Text" />
            </div>
            <div class="category_title">
                <a asp-controller="Products" asp-action="AllByCategory" asp-route-categoryId="@category.Id" class="btn btn-warning">@(category.Name)</a>
            </div>
        </div>
    }
</div>
