@using AutoPartsShopAndForum.Services.Data.Forum
@model ICollection<PostModel>

@{
    ViewData["Title"] = "Forum post";
}

@if (Model != null)
{
    foreach (var post in Model)
    {
        <div>@post.Content</div>
    }
}