@using AutoPartsShopAndForum.Services.Data.Forum
@model PostModel

@{ this.ViewData["Title"] = Model.Title;

    void DisplayComments(int? parentId)
    {
        var comments = this.Model.Comments.Where(x => x.ParentId == parentId);
        if (!comments.Any())
        {
            return;
        }

        @foreach (var comment in comments)
        {
            <div class="card">
                <div class="card-header">
                    Title
                </div>
                <div class="card-body">
                    @comment.Content
                </div>

                @{DisplayComments(comment.Id);}

            </div>
        }
    }
}

<div class="card">
    <div class="card-header">
        Some header
    </div>
    <div class="card-body">
        First card
    </div>

    @{ DisplayComments(null);}
</div>

<style>
    .card {
        height: fit-content;
    }
</style>